// CENTER BLOCK ----------------

@mixin wb-helper-center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// PULL RIGHT ----------------

@mixin wb-helper-pull-right($margin: $wb-margin-base) {
  display: block;
  max-width: 50%;
  margin-bottom: $margin;
  margin-left: $margin;
  float: right;
}

// PULL LEFT ----------------

@mixin wb-helper-pull-left($margin: $wb-margin-base) {
  display: block;
  max-width: 50%;
  margin-bottom: $margin;
  margin-right: $margin;
  float: left;
}
