@mixin wb-helper-position-relative {
  position: relative;
}

@mixin wb-helper-position-absolute {
  position: absolute;
}

@mixin wb-helper-position-top {
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
}

@mixin wb-helper-position-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin wb-helper-position-top-left {
  position: absolute;
  top: 0;
  bottom: auto;
  right: auto;
  left: 0;
}

@mixin wb-helper-position-top-right {
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
}

@mixin wb-helper-position-bottom-left {
  position: absolute;
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
}

@mixin wb-helper-position-bottom-right {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}

@mixin wb-helper-position-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
